.userMessage {
   background-color: rgba(0, 112, 242, 1.00);
   padding: 20px;
   border-radius: 8px;
   margin: 5px;
   align-self: flex-end;
}

.botMessage {
   background-color: rgba(222, 226, 229, 1.00);
   padding: 20px;
   border-radius: 8px;
   margin: 5px;
}